@import url('https://fonts.googleapis.com/css?family=Raleway|Catamaran');

$blue: #007acc;
$primary: $blue;
$black-ter: hsl(0, 0%, 14%);

$family-primary: "Raleway", sans-serif;
$family-secondary: "Catamaran", sans-serif;

$body-family: $family-secondary;

$footer-background-color: $black-ter;
$footer-padding: 1.5rem;

.title {
	font-family: 'Raleway';
}

// Project modal
.project-summary {

	position: absolute;
	top: 40px;
	right: 40px;
	bottom: 40px;
	left: 40px;
	padding: 2em;

	animation: projectModal 300ms ease-out;

	background-color: #fff;

	h1 {
		@extend .title;
	}

	h2 {
		@extend .subtitle;
	}
}

@keyframes projectModal {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 100%;
		transform: scale(1);
	}
}

@import '~bulma/bulma.sass';
